---
import "../../styles/payment-plans.css"
import RootLayout from "../../layout/RootLayout.astro";
import AcimaBanner from "../../components/AcimaBanner";
---

<RootLayout title="Acima">
    <section class="payment-plan-hero">
        <h1>Acima <span>Lease-To-Own Program</span></h1>
        <p>With an initial payment of only $50 you can go home with the appliance of your dreams!</p>
        <p class="big bolded">No Credit Needed!</p>
    </section>
    <section class="plan-faqs">
        <div>
            <h2>Here's What You Need to Know</h2>
            <ul>
                <li>
                    <span class="bolded">90 day 0% interest</span>, with a $50 early payout fee
                </li>
                <li>
                    Total cost = appliance + $100
                </li>
                <li>
                    <span class="bolded">
                        No Credit Needed
                    </span>
                </li>
                <li>
                    Fast Application via mobile or desktop
                </li>
                <li>
                    Approval in minutes
                </li>
                <li>
                    Payments matched to income frequency
                </li>
                <li>
                    Entire inventory eligible. <span class="bolded">including delivery</span> 
                </li>
                <li>
                    Taxes handled by Acima
                </li>
                <li>
                    Appliance issues? <span class="bolded">Contact Us</span> . Payment issues? <span class="bolded">Contact Acima</span>.
                </li>
                <li>
                    <small>
                        **Requires a checking account (No Chime or CashApp bank accounts)**
                    </small>
                </li>
            </ul>
            <p class="big bolded">Text code "83127" to 22426 to get approved in minutes!</p>
        </div>
        <AcimaBanner />
    </section>
    <section class="we-got-what-you-need">
        <h2>We've Got What You Need</h2>
    </section>
</RootLayout>