---
import "../../styles/payment-plans.css"
import RootLayout from "../../layout/RootLayout.astro"
---

<RootLayout title="Payment Plans">
    <section id="payment-plans-home">
        <h1>Select a payment plan below to see details</h1>
        <div class="pp-button-block">
            <a href="/payment-plans/acima">Acima</a>
            <a href="/payment-plans/tower-loan">Tower Loan</a>
        </div>
    </section>
</RootLayout>
