---
import "../../styles/payment-plans.css"
import RootLayout from "../../layout/RootLayout.astro";
---

<RootLayout title="Tower Loan">
    <section class="payment-plan-hero">
        <h1>Tower Loan <span>Financing</span></h1>
        <p>Keep your home running smooth, no matter what.</p>
    </section>
    <section class="plan-faqs">
        <h2>We can get you the appliance you need, fast!</h2>
        <p>Partnered with Tower Loan, we can help you get set up in minutes!</p>
        <ul>
            <li>
                5 - 10 minute application
            </li>
            <li class="bolded">
                Instant Approval
            </li>
            <li>
                24 month rapyment term
            </li>
            <li class="bolded">
                12 month - 0% interest
            </li>
            <li>Credit check required</li>
            <li>
                Taxes included in financing
            </li>
            <li>
                Photo ID scanned during application
            </li>
        </ul>
        <p>Come in and see what we have to offer</p>
    </section>
    <section class="we-got-what-you-need">
        <h2>We've Got What You Need</h2>
    </section>
</RootLayout>