@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Italianno&display=swap");

:root {
  --primary-blue: #356fb6;
  --dark-blue: #263652;
  --white: #fefefe;
  --black: #292728;
  --gray-blue: #aec0e0;
  --light-blue: #d3dcee;
}

.scripted {
  font-family: "Italianno", cursive;
}

.big {
  font-size: 1.4rem;
}
.bolded {
  font-weight: bold;
}

.lifted {
  box-shadow: -1px 1px 6px #333;
  width: 90%;
  border-radius: 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: unset;
}

a.learn-more {
  border: 1px solid var(--black);
  padding: 10px 24px;
  border-radius: 8px;
  background-color: var(--primary-blue);
  color: var(--white);
  font-size: 1.2rem;
}

h1,
h2,
h3,
h4 {
  color: var(--primary-blue);
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

body {
  width: 100vw;
  max-width: 1200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;

  margin: 0 auto;
}

header {
  width: 100%;
  height: 10rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 2rem 1.5rem 2rem 2rem;
}

#header-logo {
  width: 7rem;
}

.navlinks {
  display: none;
  position: absolute;
  top: 80%;
  right: 0;
  flex-direction: column;
  align-items: flex-end;
  border: 1px solid;
  align-self: flex-end;
  margin-right: 10px;
}
.navlinks.open {
  display: flex;
}
.navlinks a {
  font-size: 24px;
  width: 100%;
  padding: 10px;
  text-align: end;
  z-index: 10000;
  background-color: var(--gray-blue);
  color: #222222;
  text-decoration: none;
  border-bottom: 1px solid #ccc;
}

.menu-button {
  font-size: 2rem;
  background-color: transparent;
  border: none;
  margin-top: 15px;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 2rem; */
}

footer {
  width: 100%;
  min-height: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  background-color: var(--dark-blue);
  color: #fefefe;
  padding-block: 1rem 3rem;
}

footer img.footer-logo {
  width: 6rem;
}
footer > p.footer-title {
  font-size: 1.4rem;
}

footer .locations-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  width: 100%;
  margin-top: 1rem;
}

footer .locations-footer .location {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  padding-inline: 10px;
}

footer .locations-footer .location .hours p {
  display: flex;
  flex-direction: column;
}

.page-not-found {
  width: 80%;
  margin-block: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.page-not-found > h1 {
  text-align: center;
}

.page-not-found > a {
  border: 1px solid var(--primary-blue);
  padding: 10px 24px;
  font-size: 1.4rem;
  background-color: var(--dark-blue);
  color: var(--white) !important;
  text-decoration: none !important;
  border-radius: 8px;
}

section.we-got-what-you-need {
  background-image: url("/images/backgrounds/front-desk.svg");
  min-height: 16rem;
  width: 100%;
  background-size: cover;
  background-position: center center;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50% / 50px 50px 0 0;
}
section.we-got-what-you-need h2 {
  color: var(--white);
}

@media (min-width: 768px) {
  .menu-button {
    display: none;
  }

  .navlinks {
    display: flex !important;
    flex-direction: row;
    align-items: center;
    position: static;
    gap: 2rem;
    margin-right: 0;
    border: none;
  }

  .navlinks a {
    text-align: center;
    font-size: 16px;
    background-color: transparent;
    border: none;
  }
}
