* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: unset;
}

h1,
h2,
h3,
h4 {
  color: blue;
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

body {
  width: 100vw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  height: 10rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 2rem 1.5rem 2rem 2rem;
}

#header-logo {
  width: 7rem;
}

.navlinks {
  display: none;
  position: absolute;
  top: 80%;
  right: 0;
  flex-direction: column;
  align-items: flex-end;
  border: 1px solid;
  align-self: flex-end;
  margin-right: 10px;
}
.navlinks.open {
  display: flex;
}
.navlinks a {
  font-size: 24px;
  width: 100%;
  padding: 10px;
  text-align: end;
  z-index: 10000;
  background-color: rgb(172, 209, 240);
  color: #222222;
  text-decoration: none;
  border-bottom: 1px solid #ccc;
}

.menu-button {
  font-size: 2rem;
  background-color: transparent;
  border: none;
  margin-top: 15px;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  width: 100%;
  min-height: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: blue;
  color: #fefefe;
}

.page-not-found {
  width: 80%;
  margin-block: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.page-not-found > h1 {
  text-align: center;
}

@media (min-width: 768px) {
  .menu-button {
    display: none;
  }

  .navlinks {
    display: flex !important;
    flex-direction: row;
    align-items: center;
    position: static;
    gap: 2rem;
    margin-right: 0;
    border: none;
  }

  .navlinks a {
    text-align: center;
    font-size: 16px;
    background-color: transparent;
    border: none;
  }
}
