section#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;

  border: 1px solid;
  height: 70svh;
  width: 100%;
  overflow: hidden;
  padding: 0 1rem;
  position: relative;
  color: #fefefe;
}

section#hero .hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  pointer-events: none;
}

section#hero::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

#hero h1,
#hero h3,
#hero p,
#hero button {
  position: relative; /* above overlay */
  z-index: 1;
  color: unset;
}

#hero button {
  margin-top: 1rem;
  padding: 0.75rem 2rem;
  font-size: 1rem;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.3s ease;
  background-color: darkblue;
}

#who-are-we {
  padding: 4rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

#who-are-we .text-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

#who-are-we div.image-carousel {
  width: 100%;
  display: flex;
  justify-content: center;
}

#who-are-we div.image-carousel img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: center center;
  border-radius: 8px;
}

section#social-media {
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 2rem;
}

.social-media-badges {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.social-media-badges svg {
  font-size: 2.4rem;
}

section#validation {
  width: 100%;
  padding: 5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
}

.validation-badge {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.validation-badge > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  text-align: center;
}
.validation-badge > div p {
  width: 80%;
}

.validation-badge-svg {
  width: 100px;
}

#brands {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  text-align: center;
}

#brands .brand-banner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  place-items: center;
  row-gap: 1rem;
}

.brand-banner img {
  width: 50%;
}
