#payment-plans-home {
  width: 100%;
  height: 60dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}

#payment-plans-home h1 {
  font-size: 2rem;
  text-wrap: balance;
  text-align: center;
  margin-top: 1rem;
}

#payment-plans-home .pp-button-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 80%;
}
#payment-plans-home .pp-button-block a {
  border: none;
  border-radius: 8px;
  font-size: 2rem;
  width: 100%;
  text-align: center;
  padding: 14px 0;
  background-color: var(--primary-blue);
  color: var(--white);

  box-shadow: -1px 1px 6px #333;
}

.payment-plan-hero {
  width: 100%;
  min-height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 2rem;
  padding-inline: 1rem;

  background: linear-gradient(
    to bottom,
    var(--gray-blue) 0%,
    var(--gray-blue) 50%,
    var(--primary-blue) 100%
  );
}
.payment-plan-hero h1 {
  display: flex;
  flex-direction: column;
}
.payment-plan-hero h1 span {
  font-size: 1rem;
}

.plan-faqs {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem;
  padding-bottom: 3rem;
}

.plan-faqs div {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.plan-faqs ul {
  list-style-type: none;
}
