---
import "../styles/about.css"
import RootLayout from "../layout/RootLayout.astro";
---

<RootLayout title="About Us">
    <section id="about-hero">
        <h1>About us page, coming soon</h1>
    </section>
</RootLayout>