---
import '../styles/index.css'
import TestData from "../data/tests.json"
import ImageCarousel from "../components/ImageCarousel"
import RootLayout from "../layout/RootLayout.astro"
import SocialMediaBadges from "../components/SocialMediaBadges"
import ValidationBadge from "../components/ValidationBadge"
import BrandsBanner from '../components/BrandsBanner'
import Gallery from '../components/Gallery'

---


<RootLayout title="Matt's Appliances">
	<section id="hero">
		<h1>SWLA&apos;s New & Used Appliance Superstore</h1>
		<h3>Come and check out our new Scratch & Dent Inventory</h3>
		<p>
			We don&apos;t want anything to get in the way of the necessities. That&apos;s why we offer top tier leasing and financing options to get you the appliance you need, today!
		</p>
		<a class="learn-more" href="/payment-plans">
			Explore Payment Plans
		</a>
		<video autoplay muted loop playsinline class="hero-video">
			<source src="/videos/hero-loop.mp4" type="video/mp4" />
		</video>
	</section>
	<section id="who-are-we">
		<div class="text-block">
			<h2>Who are we?</h2>
			<p>
				We&apos;re a Christian owned business whose focus is on helping our community! For the last 12 years we&apos;ve been able to offer new & used appliances at affordable prices. We strive to ensure customer satisfaction with our products and services!
			</p>
		</div>
		<ImageCarousel client:visible />
	</section>
	<section id="social-media">
		<h2>Check us out on social media</h2>
		<SocialMediaBadges client:load />
	</section>
	<section id="validation">
		<ValidationBadge client:load title="Trusted & Reliable" icon={"/icon-badges/trusted_and_reliable.svg"} desc="Any machine purchased at Matt's is backed by a 30-day warranty! Ask us about our Extended Warrant Program as well for 100% satisfaction gauranteed." />
		<ValidationBadge client:load title="Leasing Available" icon={"/icon-badges/money.svg"} desc="We offer leasing options to make your appliance purchase easy and affordable. Apply for Acima with only $50 down! or get financed through Tower Loan to take home your appliance today." />
		<ValidationBadge client:load title="Trade Your Appliances" icon={"/icon-badges/appliances.svg"} desc="Whether used or broken, we buy/sell/trade refrigerators, freezers, stove tops, washers & dryers." />
		<ValidationBadge client:load title="Experienced Team" icon={"/icon-badges/tools.svg"} desc="With technicians that are EPA certified with over 88 years of combined experience." />
	</section>
	<section id="brands">
		<h2>We carry top brands that you know & trust</h2>
		<BrandsBanner />
	</section>
	<section id="image-banner">
		<h2>Make Your Home, <span class="scripted">Home.</span></h2>
	</section>
	<section id="payment-plans">
		<h2>Find A Plan That Fits</h2>
		<div class="plan tower-loan lifted">
			<h4>Tower Loan</h4>
			<img src="/images/payment-plans/tower-loan-logo.png" alt="Tower Loan Logo">
			<p>
				Interest free for 12 months, instant approval, even covers taxes! When Matt's Appliances partnered with Tower Loan, we made it easy for you to have the appliance you need to make sure your home operates as smooth as possible. Tower Loan makes your remodeling project a breeze. With a simple and fast application process, it will only take a few minutes to get you back up and running, getting your life back on track in no time!
			</p>
			<a class="learn-more" href="/payment-plans/tower-loan">Learn More</a>
		</div>
		<div class="plan acima lifted">
			<h4>Acima</h4>
			<img class="acima-flyer-generic" src="/images/payment-plans/acima-generic.jpg" alt="Acima Leasing flyer">
			<p>
				Lease it until you own it or purchase early at a discounted rate! Either way, it's yours to keep. The sooner you do so, the more you'll save. Of course, if you no longer want the appliance, you can return it in good condition at anytime without penalty. Our application is fast and easy to complete, and won't harm your credit. You could get approved for $300 or $5,000 of shopping power! Just by meeting the basic requirements.
			</p>
			<a class="learn-more" href="/payment-plans/acima">Learn More</a>
		</div>
	</section>
	<section id="gallery">
		<h2>We've Got What You Need</h2>
		<Gallery />
	</section>
	<section id="lifetime">
		<div>
			<p>All appliances are eligible for our</p>
			<h2>Life Time Extended Warranty</h2>
			<p>Starting as low as $7.99/mo</p>
		</div>
		<a class="learn-more">Learn More</a>
	</section>
</RootLayout>