---
import "../../styles/locations.css"
import RootLayout from "../../layout/RootLayout.astro";
---

<RootLayout title="Lake Charles">
    <section class="location-header jn-header">
        <h1>Jennings, LA</h1>
        <p>Our first step in expansion.</p>
    </section>
    <section class="location-faqs">
        <p>
            Our second location brings Matt's Appliances closer to our customers in Jefferson Davis Parish. Stop by to browse a curated selection of quality appliances and enjoy the same great prices and services as our Lake Charles store.
        </p>
        <p>
            We're proud to serve Jennings and the surrounding area. Helping more families find affordable appliances with delivery and installation options available!
        </p>
    </section>
    <section class="location-directions">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4089.0400243757317!2d-92.65822252393912!3d30.23188800966451!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x863b5b84b91f0cd9%3A0xca1202e28625cdc3!2sMatt&#39;s%20New%20%26%20Used%20Appliances%20-%20Jennings!5e1!3m2!1sen!2sus!4v1769460138676!5m2!1sen!2sus" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" />
            <a class="direction-button" href="https://www.google.com/maps/dir/?api=1&destination=314+E+Shankland+Ave,+Jennings,+LA+70546" target="_blank" rel="noopener noreferrer"
 >Take Me There</a>
    </section>
</RootLayout>