---
import "../../styles/locations.css"
import RootLayout from "../../layout/RootLayout.astro";
---


<RootLayout title="Lafayette, LA">
    <section class="location-header">
        <h1>Lafayette, LA</h1>
        <p>This store is Coming Soon!</p>
    </section>
</RootLayout>