---
import "../../styles/locations.css"
import RootLayout from "../../layout/RootLayout.astro";
---

<RootLayout title="Lake Charles">
    <section class="location-header lc-header">
        <h1>Lake Charles, LA</h1>
        <p>Our flagship store.</p>
    </section>
    <section class="location-faqs">
        <p>
            Here you'll find our largest selection of new and gently used appliances, including refrigerators, washers, dryers, ranges, and more! All at competative prices. Our friendly staff is ready to help you find the right appliance for your home and get it delivered fast!
        </p>
        <p>
            Whether you're shopping for a full kitchen set or just replacing one appliance, this is the perfect place to start. Financing and Leasing options are available right here in-store.
        </p>
    </section>
    <section class="location-directions">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8180.16904672607!2d-93.21691492393985!3d30.206764310860883!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x863b8681115273e9%3A0xb60e4a9e29e2d4ed!2sMatt&#39;s%20New%20%26%20Used%20Appliances!5e1!3m2!1sen!2sus!4v1769459272606!5m2!1sen!2sus" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" />
            <a class="direction-button" href="https://www.google.com/maps/dir/?api=1&destination=2600+Common+St+Lake+Charles+LA+70601" target="_blank" rel="noopener noreferrer"
 >Take Me There</a>
    </section>
</RootLayout>