---
let {title} = Astro.props
import '../styles/global.css'
import IconButton from "../components/IconButton"
import Header from '../components/Header'
---

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/matts-logo.png" type="image/png">
    <link rel="shortcut icon" href="/images/matts-logo.png" type="image/png">
    <title>{title}</title>
</head>
<!-- Google tag (gtag.js) -->
<script type="text/partytown" async is:inline src="https://www.googletagmanager.com/gtag/js?id=G-65REEDCECB"></script>
<script type="text/partytown" is:inline>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-65REEDCECB');
</script>
<body>
    <Header client:load />
    <main>
        <slot></slot>
    </main>
    <footer>
        <img class="footer-logo" src="/images/matts-logo.png" alt="Matt's Appliances, LLC Logo">
        <p class="footer-title">Matt's Appliances, LLC</p>
        <p>mattsusedappliances@gmail.com</p>
        <div class="locations-footer">
            <div class="location lake-charles">
                <address class="address">
                    <h4>Lake Charles</h4>
                    <p>2600 Common St</p>
                    <p>Lake Charles, LA, 70601</p>
                    <p>(337) 244-7589</p>
                </address>
                <div class="hours">
                    <h4>Hours</h4>
                    <p>Mon-Thur: <span>8:30AM-6:00PM</span></p>
                    <p>Fri: <span>10AM-6PM</span></p>
                    <p>Sat: <span>10AM-5PM</span></p>
                </div>
            </div>
            <div class="location jennings">
                <address class="address">
                    <h4>Jennings</h4>
                    <p>314 E. Shankland Ave.</p>
                    <p>Jennings, LA, 70546</p>
                    <p>(337) 388-4350</p>
                </address>
                <div class="hours">
                    <h4>Hours</h4>
                    <p>Mon-Thur: <span>8:30AM-6:00PM</span></p>
                    <p>Fri: <span>10AM-6PM</span></p>
                    <p>Sat: <span>10AM-5PM</span></p>
                </div>
            </div>
            <p class="scripted" style="font-size: 1.5rem;">We are closed on Sundays</p>
        </div>
    </footer>
</body>
</html>